{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Restaurant Details
{% endblock %}


{% block content %}

<h1>Restaurant List</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Location: {{ restaurant.city }}, {{ restaurant.state }}</p>
        <p>Type of Food: {{ restaurant.food_category }}</p>
        <p>Personal Rating: {{ restaurant.personal_rating }}</p>
        <p>Yelp Link: <a href="{{ restaurant.yelp_url }}">Link</a></p>
    </div>
    <div class="card-action">
        <a href="{% url 'restaurants_update' restaurant.id %}">Edit</a>
        <a href="{% url 'restaurants_delete' restaurant.id %}">Delete</a>
    </div>    
</div>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ restaurant.name }} Certifications</span>
                {% for cert in restaurant.certifications.all %}
                    <p>{{ cert.name }} - {{ cert.level }}</p>
                {% empty %}
                    <p>N/A</p>
                {% endfor %}
            </div>
        </div>
    </div>
 
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Items</span>
                <form action="{% url 'add_food' restaurant.id %}" method="POST">
                    {% csrf_token %}
                    {{ food_form.as_table }}
                    <input type="submit" value="Add Item" class="btn">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Other Certifications</span>
                {% for cert in certs_not_owned %}
                    <form action="{% url 'assoc_certification' restaurant.id cert.id %}">
                        {% csrf_token %}
                        <p>
                            <span><input type="submit" class="btn" value="+"></span>
                            {{ cert.name }} - {{ cert.level }} 
                        </p>

                    </form>
                {% empty %}
                    <p>N/A</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Previously Ordered Items</span>
                {% for item in restaurant.food_set.all %}
                <div class="card-action">
                    <div class="card-content">
                        <span class="card-title">{{ item.item }}</span>
                        <p>Rating: {{ item.rating }}</p>
                        <p>Date Ordered: {{ item.date_ordered }}</p>
                        <p>Price: ${{ item.price|floatformat:2|intcomma }}</p>
                        <p>Comment: {{ item.comment }}</p>
                    </div>
                </div>
                {% empty %}
                <p>No items have been added.</p>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date_ordered');
    M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}