{% extends 'base.html' %}

{% block title %}
Restaurants
{% endblock %}


{% block content %}

<h1>Restaurant List</h1>

{% for restaurant in restaurants %}
  <div class="card">
    <a href="{% url 'detail' restaurant.id %}">
      <div class="card-content">
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Type of Food: {{ restaurant.food_category }}</p>
        <p>Personal Rating: {{ restaurant.personal_rating }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}